version: '2.1'
orbs:
  node: circleci/node@5.1.0

defaults: &defaults
  docker:
    - image: cimg/python:3.10
  working_directory: ~/project

prepare_venv: &prepare_venv
  run:
    name: Create venv
    command: |
      python -m venv venv
      source venv/bin/activate
      pip install --upgrade pip

jobs:
  deploy_app_to_railway:
    <<: *defaults
    steps:
      - checkout:
          path: ~/project/
      - node/install:
          node-version: '20.9'
      - run: npm i -g @railway/cli
      - run:
          name: DEBUG - Check Environment Variables
          command: |
            echo "--- Iniciando Depuracion ---"
            
            echo "Verificando RAILWAY_TOKEN..."
            if [ -z "$RAILWAY_TOKEN" ]; then
              echo "ERROR: La variable RAILWAY_TOKEN no existe o esta vacia."
            else
              echo "OK: La variable RAILWAY_TOKEN esta presente."
            fi

            echo "Verificando RAILWAY_PROJECT_ID..."
            if [ -z "$RAILWAY_PROJECT_ID" ]; then
              echo "ERROR: La variable RAILWAY_PROJECT_ID no existe o esta vacia."
            else
              echo "OK: La variable RAILWAY_PROJECT_ID esta presente."
            fi
            
            echo "--- Fin de la Depuracion ---"
            
            # Forzamos un error para detener el pipeline aqui y poder ver los logs
            exit 1

tags_only: &tags_only
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^.*/

workflows:
  version: 1
  deploy_pipeline:
    jobs:
      - deploy_app_to_railway:
          filters:
            branches:
              only:
                - main
