version: '2.1'

orbs:
  node: circleci/node@5.1.0

defaults: &defaults
  docker:
    - image: cimg/python:3.10
  working_directory: ~/project

jobs:
  build_and_test:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Create and activate venv
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
      - run:
          name: DEBUG - List all files in the project
          command: |
            echo "--- Mostrando todos los archivos y carpetas del proyecto ---"
            ls -R
            echo "--- Fin del listado ---"
            # Forzamos un error para poder ver los logs
            exit 1
      - run:
          name: Run tests
          command: |
            . venv/bin/activate
            pytest bankchurn-api/

  deploy_app_to_railway:
    <<: *defaults
    steps:
      - checkout
      - node/install:
          node-version: '20.9'
      - run: npm i -g @railway/cli
      - run:
          name: Deploy to Railway App
          command: |
            cd bankchurn-api
            railway up --service $RAILWAY_SERVICE_ID --detach

workflows:
  deploy_pipeline:
    jobs:
      - build_and_test
      - deploy_app_to_railway:
          requires:
            - build_and_test
          context:
            - railway-secrets # <-- ESTA ES LA LÍNEA MÁGICA
          filters:
            branches:
              only:
                - main
