version: '2.1'
orbs:
  node: circleci/node@5.1.0

defaults: &defaults
  docker:
    - image: cimg/python:3.10
  working_directory: ~/project

prepare_venv: &prepare_venv
  run:
    name: Create venv
    command: |
      python -m venv venv
      source venv/bin/activate
      pip install --upgrade pip

jobs:
  deploy_app_to_railway:
    <<: *defaults
    steps:
      - checkout:
          path: ~/project/
      - node/install:
          node-version: '20.9'
      - run: node --version 
      - run: npm i -g @railway/cli     
      - run:
          name: Deploy to Railway App
          command: |
            cd bankchurn-api
            railway up --project ${RAILWAY_PROJECT_ID} --service 7f692859-e087-4ee7-b09b-87db274b7d18 --detach
          environment:
            RAILWAY_TOKEN: ${RAILWAY_TOKEN}
                  
tags_only: &tags_only
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^.*/

workflows:
  version: 1
  deploy_pipeline:
    jobs:
      - deploy_app_to_railway:
          filters:
            branches:
              only:
                - main
