version: '2.1'

orbs:
  node: circleci/node@5.1.0

defaults: &defaults
  docker:
    - image: cimg/python:3.10
  working_directory: ~/project

jobs:
  build_and_test:
    <<: *defaults
    steps:
      - checkout:
          path: ~/project/
      - run:
          name: Create venv
          command: |
            python -m venv venv
            source venv/bin/activate
            pip install --upgrade pip
      - run:
          name: Install requirements
          command: |
            source venv/bin/activate
            pip install -r bankchurn-api/requirements.txt
      - run:
          name: Run tests
          command: |
            source venv/bin/activate
            pytest bankchurn-api/

  deploy_app_to_railway:
    <<: *defaults
    steps:
      - checkout:
          path: ~/project/
      - node/install:
          node-version: '20.9'
      - run: npm i -g @railway/cli
      - run:
          name: Deploy to Railway App
          command: |
            RAILWAY_TOKEN=${RAILWAY_TOKEN} railway up --service ${RAILWAY_SERVICE_ID} --detach
          working_directory: ~/project/bankchurn-api

workflows:
  deploy_pipeline:
    jobs:
      - build_and_test
      - deploy_app_to_railway:
          requires:
            - build_and_test
          filters:
            branches:
              only:
                - main
