version: '2.1'

orbs:
  node: circleci/node@5.1.0

defaults: &defaults
  docker:
    - image: cimg/python:3.10
  working_directory: ~/project

jobs:
  build_and_test:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Create and activate venv
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
      - run:
          name: Install requirements
          command: |
            . venv/bin/activate
            echo "Paso 1: Instalando el paquete local (.whl)..."
            pip install ./model-pkg/model_abandono-0.0.1-py3-none-any.whl
            
            echo "Paso 2: Instalando el resto de las dependencias desde PyPI..."
            grep -v 'model-pkg' bankchurn-api/requirements.txt | pip install -r /dev/stdin
      - run:
          name: Run tests
          command: |
            . venv/bin/activate
            pytest bankchurn-api/

  deploy_app_to_railway:
    <<: *defaults
    steps:
      - checkout
      - node/install:
          node-version: '20.9'
      - run: npm i -g @railway/cli
      - run:
          name: Deploy to Railway App
          command: |
            cd bankchurn-api
            railway up --service $RAILWAY_SERVICE_ID --detach

workflows:
  deploy_pipeline:
    jobs:
      - build_and_test
      - deploy_app_to_railway:
          requires:
            - build_and_test
          context:
            - railway-secrets # <-- ESTA ES LA LÍNEA MÁGICA
          filters:
            branches:
              only:
                - main
